*
!*/
!*.*
*.exe
*.CACHE
.vscode/c_cpp_properties.json
*.txt
*.TXT
*.swp
*.csv
*.class
*.bin
*.json
*.png
*.obj
*.dll
*.ilk
*.pdb
*.ini
!CMakeLists.txt
!MakeFile
build/
.vscode/settings.json
!**/vcpkg.json
!**/vcpkg-configuration.json
!**/CMakePresets.json